<div clas="week-container">
    <md-card class="example-card" *ngFor="let t of [1,2,3]">
        <md-card-header>
            <div md-card-avatar class="example-header-image"></div>
            <md-card-title>Week number</md-card-title>
            <md-card-subtitle>1</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        <md-card-content>
            <p>
                This is the plan
            </p>
        </md-card-content>
        <md-card-actions>
            <button md-button>Done</button>
            <button md-button>Miss</button>
        </md-card-actions>
    </md-card>
</div>
