.example-card {
    width: 400px;
    margin: 10px;
}

.example-header-image {
    background-image: url('assets/img/examples/shiba1.jpg');
    background-size: cover;
}
.week-container{

    flex-direction: column;
}
